[Unit]
Description=Bramnik

[Service]
EnvironmentFile=/etc/bramnik/bramnik.env
Type=simple
User=root
WorkingDirectory=/srv/Bramnik/software/host
ExecStart=/srv/Bramnik/software/host/host.py --loglevel $BRAMNIK_LOGLEVEL --tgtoken $TELEGRAM_TOKEN --tgchatid $TELEGRAM_NOTIFICATIONS_CHAT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
