[Unit]
Description=Bramnik
After=syslog.target network.target

[Service]
Type=simple
User=pi
WorkingDirectory={{ venv_home }}
ExecStart={{ venv_home }}/env/bin/python {{venv_home}}/host.py 
Restart=on-abort
EnvironmentFile=/etc/sysconfig/bramnik.env

[Install]
WantedBy=multi-user.target
